.Header {
  display: flex;
  justify-content: center;
  background-color: #733fff;
  width: 100%;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
}

.navBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    transition: 0.3s;
    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.7;
      transform: scale(0.95);
    }
  }
}

.logo {
  max-height: 40px;
  outline: none;
  border: none;
}

.icons {
  display: flex;
  align-items: center;
}
