.Header {
  display: flex;
  justify-content: center;
  background-color: #733fff;
  width: 100%;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
}

.navBlock {
  display: flex;
  align-items: center;

  a {
    transition: 0.3s;
    &:hover {
      color: #64c6ff;
    }

    &:active {
      color: #64c6ff;
      transform: scale(0.95);
    }
  }
}

.logo {
  max-height: 40px;
}
