.Header {
  display: flex;
  justify-content: center;
  background-color: #733fff;
  width: 100%;
}

.wrapper {
  display: flex;
  align-items: center;
  padding: 5px 0 5px;
}

.logo {
  max-height: 40px;
}
