.QuizCreator {
  display: flex;
  flex-direction: column;
  max-width: 650px;
  margin: 0 auto;
  padding: 15px 30px;
  background: linear-gradient(
    135deg,
    rgba(115, 63, 255, 0.5) 0%,
    rgba(63, 184, 255, 0.5) 100%
  );
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;

  h1 {
    margin-bottom: 15px;
    padding-bottom: 3px;
    width: fit-content;
    border-bottom: 3px solid #000;
    color: #000;
    font-weight: bold;
  }
}

.buttonsBlock {
  margin-top: 15px;
  text-align: right;

  button {
    & + button {
      margin-left: 15px;
    }
  }
}
